*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    background-color: #fbfbfb;
}
card-body {
    background-color: rgb(44, 41, 41);
}

.p {
    background-color: rgb(188, 188, 188);
}
hr{
    color: rgb(194, 194, 194);
}

.body {
    font-family:  sans-serif;
    font-size: 16px;
    overflow: scroll;
}
h1 {
    font-family:  sans-serif;
    font-size: 45px;
    color:#494949;
    padding: 10px;
    }

h5 {
  margin-top: 0.5em;
  
  margin-bottom: 0.5em;

}


/* .dropdown{
  border: 1px solid rgb(70, 70, 70);
    
    color: #ccc;

} */

div.info h1{
    font-size: 45px;
    color:#4DB6AC;
    padding: 10px;
    text-underline-offset: 8px;
    


}

.row{
    padding-left: 20px;

}




.subpost {
    border: 3px solid rgb(70, 70, 70);
    background-color: #111111;

}
.subproducts{
    background-color: #fbfbfb;
    

}
.subproducts_heading{
  color: #4a4a4a;

}
.row.subproducts.card{
    color: #4a4a4a;
    background-color:#111111;
    padding: 1rem;
    
}
.subproducts.row.col.card p{
  color: #4a4a4a;

}

.product_outter {
    width: 100%;
    text-align: left;
    padding-right:300px;
    padding-left:50px;
    padding-top: 50%;
    background-color: #111111;

   


  }
  
  .product_inner, .detail {
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
    vertical-align: centre;
    background-color: #111111;

  }
  
  .product_inner {
    background-color: #ccc;
    width: fit-content;
    background-color: #111111;



  }
  .detail{
    max-height: fit-content;
    min-width: fit-content;
    float:right;
    background-color: #111111;
    padding: 1cm;


  }
  
  
  .details {
    
    max-height: fit-content;
    min-width: fit-content;
    background-color: #111111;
    padding: 1rem; 


  }
  .polaroid, .details_container{
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
    vertical-align: centre;
}
.description{
width: fit-content;
margin-top: 20px;
padding-left: 10px;
background-color: #111111;
font-size: 15px;

color: rgb(162, 161, 161);


}

.polaroid{
    width: fit-content;
    min-width: fit-content;


}




  .details_container{
    margin-left: 10px ;
    padding-top: 4rem;
    max-height: fit-content;
    min-width: fit-content;
    float:right;
    background-color: #111111;
    box-shadow: 0 0 5px #fff;
  text-shadow: 0 0 5px #fff;
  transition: box-shadow 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

  }

  
  /* .details_container:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 200px #fff;
  } */
  .details_container:hover {
    box-shadow: 0 0 10px #fff;
    text-shadow: 0 0 10px #fff;
    }  
  
  .details.details_box{
    padding-right: 5rem;
    background-color: #fcff3c;
  }
  
 
  .fs-5 {
    /* border: 1px solid rgb(42, 42, 42); */
    padding: 50px;
    font-family:  sans-serif;
    background-color: #4DB6AC;
    border-radius: 1cm;
    font-size: 5px;
    
}  


/* dropdown */
.nested-dropdowns {
  /* Border */
  display: flex;
  padding: 10px;


  /* Reset list styles */
  list-style-type: none;
  margin: 0;
  padding: 14px;
  color: white;
}

.nested-dropdowns li {
  cursor: pointer;

  /* Spacing */
  padding: 0.25rem;

  /* Used to position the sub nested-dropdowns */
  position: relative;
}

/* The sub nested-dropdowns */
.nested-dropdowns ul {
  /* Border */
  border: 1px solid #d1d5db;

  /* Hidden by default */
  display: none;

  /* Absolute position */
  left: 0;
  position: absolute;
  top: 100%;

  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* The second level sub nested-dropdowns */
.nested-dropdowns ul ul {
  left: 100%;
  position: absolute;
  top: 0;
}

/* Change background color of list item when being hovered */
.nested-dropdowns li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Show the direct sub nested-dropdowns when hovering the list item */
.nested-dropdowns li:hover > ul {
  display: block;
}

  html {
    block-size: 100%;
    inline-size: 100%;
    scroll-behavior: smooth;
  }

  /* body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;
  }
   */
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }



  div.polaroid {
    width: 300px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000, 0 0 30px #000, 0 0 35px #000;
  text-shadow: 0 0 5px #fff;
  transition: box-shadow 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  }
  div.polaroid:hover {
    box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  text-shadow: 0 0 10px #fff;
  }
  
  div.img_detail {
    width: 400px;
    height: 400px;
  } 

  .container-fluid{
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }
  .my-div{
    padding: 17px;
  }
  .my-div a:hover {
   transition: all 0.1s ease-in-out;
   transform: scale(1.005);
}
  .my-div a {
   color: rgb(49, 49, 49);
   transition: transform 0.2s ease-in-out;

  
}

.my-div a.clicked {
  text-decoration: underline;
  color: #4DB6AC;
  transition-delay: 0.05s;

} 
.d-flex{
  padding: 10px;

}



/* Small screens */
@media only screen and (max-width: 576px) {
  .details {
    font-size: 14px;
    padding: 8px;
  }
}

/* Medium screens */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .details {
    font-size: 18px;
    padding: 12px;
  }
}

/* Large screens */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .details {
    font-size: 20px;
    padding: 16px;
  }
}

/* Extra large screens */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .details {
    font-size: 22px;
    padding: 20px;
  }
}

/* Extra extra large screens */
@media only screen and (min-width: 1200px) {
  .details {
    font-size: 24px;
    padding: 24px;
  }
}





/* product */
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.image-container {
  flex: 1 1 300px;
  max-width: 100%;
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.details-container {
  flex: 1 1 300px;
  max-width: 20%;
  margin-left: 100px;
  border-radius: 1rem;
  border: #333333;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-button {
  padding: 10px 20px;
  background-color: #0077c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1em;
}

@media only screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    align-items: center;
  }
  
  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .details-container {
    margin: 0;
  }
}


/* new css for subpost */
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px #ddd;
}

.image-container {
  flex: 1 1 300px;
  max-width: 100%;
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.details-container {
  flex: 1 1 100px;
  /* max-width: 100%; */
} */

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

.product-description {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

.product-button {
  padding: 10px 20px;
  background-color: #0077c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.description-container {
  margin-top: 20px;
}

.description-container h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

@media only screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    align-items: center;
  }
  
  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .details-container {
    margin: 0;
  }
}


/* new css for old nav bar */
/* Style for the main menu */
.nested-dropdowns {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style for the top-level menu items */
.nested-dropdowns > li {
  display: inline-block;
  position: relative;
}

/* Style for the top-level menu item link */
.nested-dropdowns > li > .nested-dropdowns__item > a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #333333;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

/* Style for the top-level menu item link on hover */
.nested-dropdowns > li > .nested-dropdowns__item > a:hover {
  background-color: #ffffff;
  color: #333333;
}

/* Style for the nested menu */
.nested-dropdowns ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 5px;
}

/* Style for the nested menu items */
.nested-dropdowns ul li {
  display: block;
}

/* Style for the nested menu item link */
.nested-dropdowns ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333333;
}

/* Style for the nested menu item link on hover */
.nested-dropdowns ul li a:hover {
  background-color: #333333;
  color: #ffffff;
}

/* Style for the nested menu arrow */
.nested-dropdowns__arrow {
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #ffffff transparent transparent transparent;
}

/* Style for the top-level menu item on hover */
.nested-dropdowns > li:hover > ul {
  display: block;
}


/*end new css for old nav bar */

/*new css for new nav bar */
nav {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(39, 39, 39);
  color: #fff;
  font-size: 18px;
  height: 60px;
  padding: 0 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
  padding: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

/* Styles for dropdown menu */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li a {
  color: rgb(192, 192, 192);
  text-decoration: none;
  position: relative;
}

nav ul li a:hover {
  color: rgb(192, 192, 192);
  text-decoration: underline;
}

nav ul li a.active {
  color: rgb(192, 192, 192);
  text-decoration: underline;
}


nav ul li:hover > .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
}

.arrow.down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}

.arrow.right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
}

.nested-dropdown {
  position: static;
}

.nested-dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nested-dropdown:hover > .nested-dropdown-content {
  display: block;
}




/*end new css for new nav bar */


/* discout tag on image */
.product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image-container {
  position: relative;
  margin-right: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.discount {
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, #ffd23f, #ffaf2f);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

.discount h6 {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-right: 10%;
  
  margin-left: 10%;
}
.details-container h2 {
text-align: left;
}

.product-title {
  margin-bottom: 10px;
  
}
.off{
  font-size: 0.8em;
  color: rgb(212, 173, 16);

}

.container_price {
  display:inline-block;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  
}

.price {
  text-decoration: line-through;
  margin-right: 10px;
  transform: scale(0.7);
  color: red;
}

.discounted_price {
  margin: 0;
}

.rupee {
  font-size: 0.4em;
  transform: scale(0.5);
}
.container_price h4 {
  display: inline-block;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container_price {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .price {
    margin-right: 0;
    margin-bottom: 10px;
    color: red;

  }
}


.product-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.product-button:hover {
  background-color: #0069d9;
}

.description-container {
  margin-top: 20px;
  flex-basis: 100%;
  padding-left: 6em;
  padding-right: 6em;

}

.product-description {
  text-align: justify;
}

@media (max-width: 768px) {
  .product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
    /* overflow: hidden;  */
    /* scale: 1.2; */

  }
}

.image-container img{
  width: auto; /* ensure the image fills the container */
  height: auto; /* maintain aspect ratio */
}


/* end discout tag on image */

/* banner css */
.banner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
/* end banner css */

.logo_navbar {
  height: 70px;
  width: 70px;
}