{% extends 'base.html'%}

{% load thumbnail %}
{% load static %}


{% block title %}Home{% endblock title %}




{% block body%}


{% for banner in banners %}
<div class="banner">
    <a href="{{ banner.url }}">
        <img src="{{ banner.image.url }}" alt="{{ banner.title }}">
    </a>
</div>
{% endfor %}



<div class="row">
  
  <h1>Products</h1>
  {% for post in posts%}
    <div class="col-sm-6 col-md-3">
      <div class="card my-4">
        {% thumbnail post.image "200x200" crop="center" as im %}
        <div class="discount">
          <h6>{{post.discount }}% OFF</h6>
        </div>
          <img src="{{ im.url }}" class="card-img-top" alt="...">

        {% endthumbnail %}
        <div class= "card-body text-white boder-bottom shadow bg-black">
          <h3 class="card-text ">{{ post.name }} </h3>

          <p class="card-text">MRP:{{ post.price }} </p>
          <a href="{% url 'feed:detail' post.id %}" class="btn btn-primary">View</a>
        </div>
      </div>
      
    </div>
  {% endfor %}
</div>
{% endblock body%}


{% block information %}

<div class="info">
    <div class="row  text-center p-5 text-white boder-bottom shadow">
        <h1 >“Way2Agritech”</h1>
        <small class ="fs-5" >
            “Way2Agritech” is a  agri-technology solutions covering agri inputs, implements for the farmers and other users. The objective of Way2Agritech is to act as catalyst in agricultural technology adoption by the farmers, knowledge transformation and promotion of quality agri-tech products and sales generation. Way2Agritech will be a channel partner between farmers or technology users and the manufacturers. Some of the key initiatives taken up under Way2Agritech are physical outlet, technical guidance to farmers, facilitation of new and customized technology development etc. Online services under the brand Way2Agritech included Mob App Way2Agritech and e-commerce portal www.way2agritech.com. Product specific websites for different categories of products covers www.powertiller.in (for farm machineries & implements), www.drsoilhealth.com (for plant growth promoters & plant protection products) and www.urbanagriculture.in (for terrace garden products).
        </small>
        
    </div>

    
</div>

   

{% endblock information %}


{% block main-content %}


{% endblock main-content %}

