{% extends 'base.html'%}

{% load thumbnail %}
{% load static %}


{% block title %}Home{% endblock title %}




{% block body%}


{% for banner in banners %}
<div class="banner">
    <a href="{{ banner.url }}">
        <img src="{{ banner.image.url }}" alt="{{ banner.title }}">
    </a>
</div>
{% endfor %}




<div class="row">
  
  <h1>Products</h1>
  {% for post in posts%}
    <div class="col-sm-6 col-md-3">
      <div class="card my-4">
        <a href="{% url 'feed:detail' post.id %}" >
        {% thumbnail post.image "200x200" crop="center" as im %}
        <div class="discount">
          <h6>{{post.discount }}% OFF</h6>
        </div>
          <img src="{{ im.url }}" class="card-img-top" alt="...">

        {% endthumbnail %}
        <div class= "card-body text-white boder-bottom shadow bg-black">
          <h1 class="card-text ">{{ post.name }} </h1>
          <div class="gradient">Rs.{{ post.discounted_price }}</div>


          <p class="card-text text-decoration-line-through">MRP:{{ post.price }} </p>
          
        </div>
      </a>

      </div>
    
      
    </div>
  {% endfor %}
</div>
{% endblock body%}


{% block information %}



   

{% endblock information %}


{% block main-content %}


{% endblock main-content %}

