{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-10 offset-sm-1 py-5">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}"><br>
    {{ product.description }}<br>

  </div>
</div>

    <h2>All Products:</h2>
    {% for product in product.all %}
      {{ product.name }}<br>
      
      <img src="{{ product.image.url }}"><br>
      {{ product.description }}<br>
      {{ product.price }}<br>
      {{ product.discount }}<br>
      <br>
    {% endfor %}
   

<br>
<br>
{% endblock %}
