{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-10 offset-sm-1 py-5">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}"><br>
    {{ product.description }}<br>
    <h2>Subproducts:</h2>
    {% for subproduct in product.subproducts.all %}
      {{ subproduct.name }}<br>
      
      <img src="{{ subproduct.image.url }}"><br>
      {{ subproduct.description }}<br>
      {{ subproduct.price }}<br>
      {{ subproduct.discount }}<br>
      <br>
    {% endfor %}
   
  </div>
</div>

<br>
<br>
{% endblock %}
