{% extends 'base.html' %}
{% load thumbnail %}


{% block content %}
<div class="details">
    <div class="product_outter  offset-sm-1 py-2">
        <h1>{{ subpost.name }}</h1>
        <div class="product_inner px-1 text-white boder-bottom shadow bg-black font-sans-serif">
            
                <img src="{{ subpost.image.url }}"class="img-fluid rounded" height=300px width=300px>
            
           
            
        </div>
        <div class="detail bg-dark text-left p-4 text-white">
            <div class="discounted_price">    
            <h4 class="card-text">₹ {{ subpost.price }} </h4>
            
            <h5 class="card-text">Discount: {{ subpost.discount }}% </h5>
            <h5 class="card-text">Discounted Price: {{ subpost.discounted_price }} </h5>
            </div>
            <h5 class="card-text">Type: {{ subpost.type }}</h5>
            <h5 class="card-text">Quantity Available: {{ subpost.quantity_available }} </h5>
       
        </div>
        <div class ="description text-left p-4 text-white" >
            Description: {{ subpost.description }}                  
        </div>

        
    </div>
</div>



{% endblock %}

   