{% extends 'base.html' %}
{% load thumbnail %}


{% block content %}

  <div class="product">
    <div class="image-container">
      <div class="discount">
        <h6>{{subpost.discount }}% OFF</h6>
      </div>
      <img src="{{ subpost.image.url }}" class="img-fluid rounded" height="300px" width="300px" />
    </div>
    <div class="details-container">
      <h2 class="product-title">{{ subpost.name }}</h2>
      <div class="container_price">
        <h4 class="discounted_price">₹ {{ subpost.discounted_price }}</h4>
        <h4 class="price">₹ {{ subpost.price }}  </h4>
        <h5 class="card-text">Type: {{ subpost.type }} </h5>
                <h5 class="card-text">Quantity Available: {{ subpost.quantity_available }} </h5>
      </div>
      
      <button class="product-button">Add to Cart</button>
     
    </div>
    <div class="description-container">
      <h3>Description</h3>
      <p class="product-description">{{subpost.description}}</p>
    </div>
  </div>
  




{% endblock %}

   